{
  "presets": ["@babel/preset-react"],
  "plugins": [
    ["prismjs", {
      "languages": ["javascript", "css", "html"],
      "plugins": ["line-numbers"],
      "theme": "default",
      "css": true
    }]
  ]
}
