.rstrtt {
  word-wrap: break-word;
}
.rstrtt,
.rstrtt h1,
.rstrtt h2,
.rstrtt h3,
.rstrtt h4,
.rstrtt h5,
.rstrtt h6,
.rstrtt pre,
.rstrtt code,
.rstrtt blockquote,
.rstrtt em,
.rstrtt strong,
.rstrtt code {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  font-family: consolas, monaco, courier, "courier new", monospace;
  color: #333333;
}
.rstrtt h1,
.rstrtt h2,
.rstrtt h3,
.rstrtt h4,
.rstrtt h5,
.rstrtt h6,
.rstrtt pre,
.rstrtt code,
.rstrtt blockquote,
.rstrtt ol,
.rstrtt ul,
.rstrtt li,
.rstrtt p,
.rstrtt section,
.rstrtt header,
.rstrtt footer {
  float: none;
  margin: 0;
  padding: 0;
}
.rstrtt h1,
.rstrtt p,
.rstrtt ul,
.rstrtt ol,
.rstrtt pre,
.rstrtt blockquote {
  margin-top: 20px;
  margin-bottom: 20px;
}
.rstrtt h1 {
  position: relative;
  display: inline-block;
  display: table-cell;
  padding: 20px 0 40px;
  margin: 0;
  overflow: hidden;
}
.rstrtt h1:after {
  content: "====================================================================================================";
  position: absolute;
  bottom: 20px;
  left: 0;
}
.rstrtt h1 + * {
  margin-top: 0;
}
.rstrtt h2,
.rstrtt h3,
.rstrtt h4,
.rstrtt h5,
.rstrtt h6 {
  position: relative;
  margin-bottom: 20px;
}
.rstrtt h2:before,
.rstrtt h3:before,
.rstrtt h4:before,
.rstrtt h5:before,
.rstrtt h6:before {
  content: "## ";
  display: inline;
}
.rstrtt h3:before {
  content: "### ";
}
.rstrtt h4:before {
  content: "#### ";
}
.rstrtt h5:before {
  content: "##### ";
}
.rstrtt h6:before {
  content: "###### ";
}
.rstrtt li {
  position: relative;
  display: block;
  padding-left: 34px;
  padding-left: 4ch;
}
.rstrtt li:after {
  position: absolute;
  top: 0;
  left: 0;
}
.rstrtt ul > li:after {
  content: "*";
}
.rstrtt ol {
  counter-reset: ol;
}
.rstrtt ol > li:after {
  content: counter(ol) ".";
  counter-increment: ol;
}
.rstrtt pre {
  margin-left: 34px;
  margin-left: 4ch;
}
.rstrtt blockquote {
  position: relative;
  padding-left: 17px;
  padding-left: 2ch;
  overflow: hidden;
}
.rstrtt blockquote:after {
  content: ">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>";
  white-space: pre;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 20px;
}
.rstrtt strong:before,
.rstrtt strong:after {
  content: "__";
  display: inline;
}
.rstrtt em:before,
.rstrtt em:after {
  content: "*";
  display: inline;
}
.rstrtt a {
  text-decoration: none;
}
.rstrtt a:before {
  content: "[";
  display: inline;
  color: #333333;
}
.rstrtt a:after {
  content: "](" attr(href) ")";
  display: inline;
  color: #333333;
}
.rstrtt code {
  font-weight: 100;
}
.rstrtt code:before,
.rstrtt code:after {
  content: "`";
  display: inline;
}
.rstrtt pre code:before,
.rstrtt pre code:after {
  content: none;
}
.rstrtt hr {
  position: relative;
  height: 20px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  border: 0;
  margin-bottom: 20px;
}
.rstrtt hr:after {
  content: "----------------------------------------------------------------------------------------------------";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  word-wrap: break-word;
}
@-moz-document url-prefix() {
  .rstrtt h1 {
    display: block;
  }
}
.rstrtt-ones ol > li:after {
  content: "1.";
}
